@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-game-dark text-white overflow-hidden touch-none; 
    /* touch-none prevents some mobile scrolling issues */
  }
}

@layer utilities {
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
